@{
    ViewData["Title"] = "Error";
}

<div class="center-block">
    <img src="~/images/error_panda.png" alt="error panda" class="img-responsive img-rounded splash" />

    <h2 class="text-danger text-center">Woah there, something went wrong, but don't worry our panda team is on it.</h2>
</div>