@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Woah there, something went wrong, but don't worry our panda team is on it.</h2>

<img src="images/error_panda.png" alt="error panda" class="img-responsive img-rounded" />