@{
    ViewData["Title"] = "Home Page";
}

<div class="center-block">
    <img src="images/logo.png" class="img-rounded img-responsive" alt="hostin panda"/><br/>
    
    <div class="text-center">
        <div class="btn-group">
            <a href="/Account" class="btn btn-primary">login</a>
            <a href="/Account/Register" class="btn btn-info">register</a>
        </div>
    </div>
</div>