@{
    ViewData["Title"] = "Home Page";
}

<div class="center-block">
    <img src="images/logo.png" class="img-rounded img-responsive splash" alt="hostin panda"/><br/>
    
    <div class="text-center">
        <div class="btn-group">
            <button class="btn btn-primary">login</button>
            <button class="btn btn-info">register</button>
        </div>
    </div>
</div>