@model hostinpanda.web.Models.NewHostModel

@{
    ViewData["Title"] = "add new host";
}

<h2>add new host</h2>

<form asp-action="CreateHost" method="post">
    @Html.LabelFor(a => a.HostName)
    <input class="form-control" type="text" placeholder="hostname" asp-for="HostName"/>

    @Html.LabelFor(a => a.AllowableDowntimeMinutes)
    <input asp-for="AllowableDowntimeMinutes" class="form-control"/>

    @Html.LabelFor(a => a.PortNumber)
    <input asp-for="PortNumber" class="form-control"/>

    <div class="text-center" style="margin-top: 10px">
        <div class="btn-group">
            <a href="/Hosts" class="btn btn-primary">back</a>
            <button type="submit" class="btn btn-success">submit</button>
        </div>
    </div>
</form>