@model hostinpanda.web.Models.EditHostModel

@{
    ViewData["Title"] = "edit host";
}

<h2>edit host</h2>

<form asp-action="UpdateHost" method="post">    
    @Html.HiddenFor(a => a.ID)
    
    <div class="form-group">        
        @Html.LabelFor(a => a.HostName)
        <input class="form-control" type="text" placeholder="hostname" asp-for="HostName"/>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(a => a.AllowableDowntimeMinutes)
        <input asp-for="AllowableDowntimeMinutes" class="form-control"/>
    </div>
    
    <div class="form-group">
    @Html.LabelFor(a => a.PortNumber)
        <input asp-for="PortNumber" class="form-control"/>
    </div>

    <div class="text-center" style="margin-top: 10px">
        <div class="btn-group">
            <a href="/Hosts" class="btn btn-primary">back</a>
            <button type="submit" class="btn btn-success">submit</button>
        </div>
    </div>
</form>