@model List<hostinpanda.web.Transports.Hosts.HostListingResponseItem>

@{
    ViewData["Title"] = "hosts";
}

<h2>hosts</h2>

<a href="/Hosts/AddNew" class="btn btn-primary">add new</a>

<table class="table">
    <thead>
        <tr>
            <th>ip address</th>
            <th>alive</th>
            <th>last ping back</th>
            <th>actions</th>
        </tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.HostAddress</td>
            <td>@item.Alive</td>
            <td>@item.LastPingBack</td>
            <td>
                <div class="btn-group">
                    <a href="/Hosts/Edit/@item.ID" class="btn btn-success">edit</a>
                    <a href="/Hosts/Delete/@item.ID" class="btn btn-danger">delete</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>