@model hostinpanda.web.Models.RegisterModel

@{
    ViewData["Title"] = "Register";
}


<div class="center-block">
    <img src="~/images/logo.png" class="img-rounded img-responsive splash" alt="hostin panda" />

    <h1>register</h1>

    <div class="form-group text-center">
        <p class="text-left">Register an account below in order to setup alerts</p>

        <form id="registerForm" asp-action="AttemptRegister" method="post">
            <div class="form-group">
                <input asp-for="Username" class="form-control" placeholder="username" required autofocus />
            </div>

            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control" placeholder="password" required />
            </div>

            <div class="form-group">
                <button id="btnSubmit" type="submit" class="btn btn-primary text-center">register</button>
            </div>
        </form>
    </div>

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="errorContainer">
            @Model.ErrorMessage
        </div>
    }
</div>